body {
  background-color: black;
  color: white;
  
img src= "file:///C:/Users/emmar/Downloads/Ink%20gradient%20%7D%20GIF%20(2)%20(1).gif {
   width: 100%;
   height: auto;
 }

 #navbar {
    background-color : black;
    position : fixed;
    top : 50px;
    width : 100%;
    transition : top 0.3s;
 }

}
