@media (max-width:768px) {
     .menu {
          flex-direction : column; 
          gap: 1rem;
          padding: 0.5rem;
     }
     .about-container {
          flex-direction : column ;
          align-items : center ;
     }
     .about-photo img {
          width : 200px ;
          height : 200px ;
     }
}

/* Style de la page */
html {
     scroll-behavior : smooth ;
}

body {
     margin: 0;
     padding-top : 80px;
     font-family : Helvetica,sans-serif ;
     background : black;
     color : white;
     }

/* GIF */
img {
     width: 100%;
     height: auto;
     display: block;
}

/* Menu */
.menu {
     position : fixed; 
     top : 0;
     left : 0;
     width : 100%;
     background-color : rgba(0, 0, 0,0.6);
     backdrop-filter : blur(5px) ;
     color : white;
     display : flex; 
     justify-content : center; 
     gap : 2rem;
     padding : 1rem;
     z-index : 1000;
}
.menu a {
          color : white ; 
          text-decoration : none ; 
          font-family : Helvetica, sans-serif;
}
.menu a: hover {
     text-decoration : underline;
}

h1 {
     font-family : Helvetica, sans-serif ; 
      font-size : 2.2rem ; 
      font-weight : uppercase ;
      margin-top : 4rem ;
}
#about {
     padding : 4rem 2rem ;
     color : white ;
     background : black ;
}
     .subtitle {
          font-size : 1.2rem ;
          font-style : italic ; 
          margin-bottom : 1rem ;
     }
     .about-container {
          display : flex ; 
          flex-direction : row ; 
          gap : 2rem ; 
          align-items : center ; 
          justify-content : space-between ; 
          flex-wrap : wrap ; 
     }
     .about-text {
          flex : 1 ; 
          min-width : 250px ;
     }
     .about-photo img {
          width : 250px ; 
          height : 250px ; 
          object-fit : cover ;
          border-radius : 50% ; 
          border : 2px solid white ; 
     }

     .contact-icons {
          display flex;
          justify-content: center;
          gap: 2rem;
          margin: 2rem 0;
     }

     .contact-icons a img {
          width: 40px;
          height: 40px;
          transitions: transform 0.3s ease ;
     }

     .contact-icons a:hover img {
          transform: scale (1.1);
     }

     .contact-icons a.disabled {
          pointer-events: none;
          opacity: 0.4;
          cursor: default;
     }

     .coming-soon {
          text-align: center;
          font-size: 0.9rem;
          font-style: italic;
          color: #aaa;
     }
     
footer {
     position: fixed;
     bottom: 0;
     background-color: black;
     color: #FFFFFF;
     text-align: center;
     padding: 1rem;
}
